.addButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px #999;
    background-color: skyblue;
    text-align: center;
    button{
        color: #ffffff;
        margin-top: 17px;
        background-color: skyblue;
        border: none;
    }
}