.Sentence {
    width: 80%;
    margin: 10px auto 40px;
    &__date {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__content {
        border: 1px solid #ccc;
        box-shadow: 0 2px 3px #ccc;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
    }
}
