.Sentences {
    margin-top: 100px;
}
.EmptyString{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}
.AddButton {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 30px;
    bottom: 50px;
}