.Sentences {
    margin-top: 100px;
}
.EmptyString{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}
.AddButton {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 40px;
    bottom: 40px;
}