.Spinner {
  display: inline-block;
  width: 34px;
  height: 34px;
}
.Spinner:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #E78734;
  border-color: #E78734 transparent #E78734 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
