.Sentences {
    margin: 0 auto;
    margin-top: 56px;
    padding-top: 20px;
    width: 80%;
}

.Date {
    text-align: center;
}

.InnerEdit {
    width: 80%;
    height: 400px;
    font-size: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonSet {
    text-align: right;
    margin-right: 40px;
    button{
        margin-right: 10px;
    }
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    color: #aaa;
    display: block; /* For Firefox */
}