.Sentences {
    margin: 0 auto;
    margin-top: 56px;
    padding-top: 20px;
    width: 80%;
}

.Date {
    text-align: center;
}

.TextArea {
    width: 100%;
    height: 400px;
    font-size: 20px;
}

.Button {
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    background-color: #00ccff;
    border: 1px solid #00ccff;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    color: #aaa;
    display: block; /* For Firefox */
}