.Sentences {
    margin: 0 auto;
    margin-top: 56px;
    padding-top: 20px;
    width: 80%;
}

.Date {
    text-align: center;
    margin-top: 20px;
}

.InnerEdit {
    width: 80%;
    height: 300px;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 100px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.ButtonSet {
    text-align: right;
    margin-right: 40px;
    button{
        margin-right: 10px;
    }
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    color: #aaa;
    display: block; /* For Firefox */
}